<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes">
    <test verbose="2" preserve-order="true"
          name="Regression Suite">
        <classes>
            <class name="LearningTestNG.TC01"/>

            <class name="LearningTestNG.TC02"/>

            <class name="LearningTestNG.TC03"/>

        </classes>
    </test>
</suite>